<div class="range-picker-wrap">
    <div class="calendar-input-wrap range-picker"
        ng-click="vm.togglVisible()">
        <input type="text"
            tabindex="-1" 
            class="calendar-picker-input" 
            ng-model="vm.selectedDate"
            ng-disabled="vm.disabled" 
            readonly>
    </div>
    <div class="datepicker-items" ng-show="vm.datepickerVisible">
        <datepicker ng-model="vm.rangeStartDate"
            date-format="YYYY-MM-DD"
            date-max="vm.rangeDateMax"
            inline-mode="true"
            class="datepicker-item"
            range-type="rangeStartDate"></datepicker>
        <datepicker ng-model="vm.rangeEndDate"
            date-format="YYYY-MM-DD"
            date-min="vm.rangeDateMin"
            inline-mode="true"
            class="datepicker-item"
            range-type="rangeEndDate"></datepicker>
    </div>
</div>