<div class="calendar-days">
    <table class="calendar-table" cellspacing="0">
        <thead>
            <tr role="row">
                <th ng-repeat="day in vm.SHORTDAY" class="calendar-column-header">{{day}}</th>
            </tr>
        </thead>
        <tbody>
            <tr role="row" ng-repeat="column in vm.DATE_COLUMNS track by column">
                <td class="calendar-cell" 
                    ng-repeat="d in vm.daysOfWeeks(column) track by $index"
                    ng-class="{
                        'calendar-last-month-cell': d.prev,
                        'calendar-next-month-btn-day': d.next,
                        'calendar-selected-day': vm.handleIsSelectedDate(d.date),
                        'calendar-today': d.isToday,
                        'calenday-disabled': d.disabled
                    }">
                    <button class="calendar-date" 
                        type="button"
                        ng-disabled="d.disabled || d.prev || d.next"
                        ng-click="vm.onSelectDate(d);"
                        title="{{d.date}}">{{d.day}}</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>