<div class="ng-calendar">
    <div class="calendar-panel">
        <div class="calendar-header">
            <a class="calendar-prev-month-btn calendar-btn"
                ng-class="{disabled: vm.hiddenMonthBtn('prev')}"
                ng-click="vm.hanleChangeMonth('prev');">
                <svg width="8" height="10" viewBox="0 0 6 10"><path d="M 5,0 l -5,5 l 5,5"></path></svg>
            </a>
            <a class="calendar-year-select calendar-btn" 
                ng-click="vm.handleToggleYearPanel();">
                <span ng-bind="vm.selectedMonthFormat"></span>
                <span ng-bind="vm.headerDate | date: 'yyyy'"></span>
            </a>
            <a class="calendar-next-month-btn calendar-btn"
                ng-class="{disabled: vm.hiddenMonthBtn('next')}"
                ng-click="vm.hanleChangeMonth('next');">
                <svg width="8" height="10" viewBox="0 0 6 10"><path d="M 2,0 l 5,5 l -5,5"></path></svg>
            </a>
        </div>
        <div class="calendar-body">
            <div class="calendar-years clearfix"
                ng-hide="!vm.yearsPanelOpened">
                <a class="calendar-year calendar-year-btn" 
                    ng-class="{
                        'active-year': vm.handleActiveYear(y),
                        disabled: (vm.disabledMinYear && vm.disabledMinYear > y) || (vm.disabledMaxYear && vm.disabledMaxYear < y)
                    }"
                    ng-click="vm.handlePickerYear(y)"
                    ng-repeat="y in vm.years">{{y}}</a>
            </div>
            <div class="calendar-days">
                <table class="calendar-table" cellspacing="0">
                    <thead>
                        <tr role="row">
                            <th ng-repeat="day in vm.SHORTDAY" class="calendar-column-header">{{day}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr role="row" ng-repeat="column in vm.DATE_COLUMNS track by column">
                            <td class="calendar-cell" 
                                ng-repeat="week in vm.daysOfWeeks(column) track by $index"
                                ng-class="{
                                    'calendar-last-month-cell': week.prev,
                                    'calendar-next-month-btn-day': week.next,
                                    'calendar-selected-day': vm.handleIsSelectedDate(week.date),
                                    'calendar-today': week.isToday,
                                    'calenday-disabled': week.disabled || week.disabled
                                }">
                                <button class="calendar-date" 
                                    type="button"
                                    ng-disabled="week.disabled || week.disabled || week.prev || week.next"
                                    ng-click="vm.handleSetDate(week.date, week);"
                                    title="{{week.date}}">{{week.day}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="calendar-footer" 
            ng-class="{'show-all-buttons': vm.showTodayButton && (vm.showClearButton && vm.selectedDate)}"
            ng-hide="!vm.showTodayButton && (!vm.showClearButton || !vm.selectedDate)">
            <button type="button" class="clear-date" 
                ng-show="vm.showClearButton && vm.selectedDate"
                ng-bind="vm.showClearButton || '清除'"
                ng-click="vm.handleClearDate();"></button>
            <button type="button" class="picker-today" 
                ng-show="vm.showTodayButton"
                ng-bind="showTodayButton || '今天'"
                ng-click="vm.handlePickerToday();"></button>
        </div>
    </div>
</div>