<div class="ng-calendar-wrap" ng-class="{'timepicker-mode': vm.timePicker}">
    <div class="calendar-panel">
        <div class="calendar-header">
            <a class="calendar-prev-month-btn calendar-btn"
                ng-class="{disabled: vm.hiddenMonthBtn('prev')}"
                ng-click="vm.hanleChangeMonth('prev');">
                <svg width="8" height="10" viewBox="0 0 6 10"><path d="M 5,0 l -5,5 l 5,5"></path></svg>
            </a>
            <a class="calendar-year-select calendar-btn" 
                ng-click="vm.handleToggleYearPanel();">
                <span ng-bind="vm.selectedMonthFormat"></span>
                <span ng-bind="vm.headerDate | date: 'yyyy'"></span>
            </a>
            <a class="calendar-next-month-btn calendar-btn"
                ng-class="{disabled: vm.hiddenMonthBtn('next')}"
                ng-click="vm.hanleChangeMonth('next');">
                <svg width="8" height="10" viewBox="0 0 6 10"><path d="M 2,0 l 5,5 l -5,5"></path></svg>
            </a>
        </div>
        <div class="calendar-body">
            <calendar-years 
                calendar-date="vm.CALENDAR_DATE"
                selected-date="vm.ngModelDate"
                disabled-min-year="{{vm.disabledMinYear}}"
                disabled-max-year="{{vm.disabledMaxYear}}"
                on-select-year="vm.handlePickerYear(y)"
                years-panel-opened="vm.yearsPanelOpened">
            </calendar-years>
            <calendar-dates 
                dates="vm.daysInMonth"
                date-format="{{vm.dateFormat}}"
                selected-date="vm.ngModelDate"
                on-click-date="vm.handleSetDate(date)">
            </calendar-dates>
        </div>
    </div>
    <time-picker ng-if="vm.timePicker" 
        selected-date="vm.ngModelDate"
        date-min="vm.dateMin"
        date-format="{{vm.dateFormat}}"
        on-change="vm.handleTimeOnChange({hour, minute})"></time-picker>
</div>